@import "tailwindcss";  

@theme {
  --color-ggorange: #F47E20;
  --color-ggbg: #0a0e15;
  --color-ggwhite: #d9d9d9;
  --color-ggwelcome: #c1bdbd;
  --font-display: Inter, sans-serif; 
} 

.test-red {
  @apply border-1 border-red-500
}

.test-green {
  @apply border-1 border-green-500
}

.test-blue {
  @apply border-1 border-blue-500
}

.fade-orange {
  @apply transition-colors ease-in-out duration-300 hover:text-ggorange
}

.fade-bg-orange {
  @apply transition-colors ease-in-out duration-500 hover:bg-ggorange hover:border-ggorange
}

.darken {
  @apply transition-colors ease-in-out duration-500 hover:bg-[#a35618] hover:border-[#a35618]
}