@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap');
@import "tailwindcss";

/* * {
  border: 1px solid red;
} */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  color-scheme: dark;
}

@theme {
  --color-ggorange: #F47E20;
  --color-ggbg: #0a0e15;
  --color-ggwhite: #d9d9d9;
  --color-ggwelcome: #c1bdbd;
  --font-display: 'Inter', sans-serif; 
  --font-pixels: 'Press Start 2P', sans-serif;
} 

.red {
  @apply border-1 border-red-500
}

.green {
  @apply border-1 border-green-500
}

.blue {
  @apply border-1 border-blue-500
}

.fade-orange {
  @apply transition-colors ease-in-out duration-300 hover:text-ggorange
}

.fade-bg-orange {
  @apply transition-colors ease-in-out duration-500 hover:bg-ggorange hover:border-ggorange
}

.darken {
  @apply transition-colors ease-in-out duration-500 hover:bg-[#a35618] hover:border-[#a35618]
}

.h-screen-minus-navbar {
  height: calc(100vh - 5rem)
}

.simplebar-scrollbar::before {
  background-color: white !important;
}

@media (max-width: 1024px) {
  .simplebar-scrollbar {
    display: none !important;
  }
  
  .simplebar-track {
    display: none !important;
  }
}